* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pixeloid';
  src: url('../fonts/pixeloid.ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #1E1E1E;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #232323;
}

.navigation .left {
  height: 30px;
}

.navigation .left img {
  height: 100%;
}

.navigation .right {
  display: flex;
  column-gap: 60px;
  align-items: center;
}

.navigation .right a {
  color: #D5D5D5;
  text-decoration: none;
  font-family: 'Pixeloid';
  font-size: 15px;
}

.navigation .right a:hover {
  text-decoration: underline;
}

.navigation .right a.red {
  color: #F45050;
}

.navigation .right a.underline {
  text-decoration: underline;
}



.footer {
  background-color: #232323;
  border-top: solid 5px #719B0D;
  display: grid;
  grid-template-columns: 100px 1fr;
  padding: 30px 15px;
  align-items: center;
}

.footer .left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.footer .left img {
  width: 100%;
}

.footer .right p {
  color: #646464;
  font-family: 'Inter', sans-serif;
}



@media (max-width: 800px) {
  .footer .right p {
    font-size: 11px;
  }

  .footer {
    grid-template-columns: 70px 1fr;
  }

  .navigation .right a {
    font-size: 12px;
  }

  .navigation .right {
    column-gap: 15px;
  }
}